<!-- Footer -->
<footer id='join-us'>
	<div class="footer-div">
		<h2>{{i18n "join-us"}}</h2>
		<ul class="social">
			<li><a href="https://codema.in/fsci/" target="_blank"><img
						src='{{"img/discussion.png" | absURL }}'></a>{{i18n "forum"}}</li>
			<li><a href="https://matrix.to/#/#fsci:poddery.com" target="_blank"><img
						src='{{"img/matrix.svg" | absURL}}'></a>{{i18n "matrix"}}</li>
			<li><a href="https://join.jabber.network/#fsci@muc.tchncs.de?join" target="_blank"><img
						src='{{"img/xmpp.svg"| absURL}}'></a>{{i18n "xmpp-quicksy"}}</li>
			<li><a href="https://webchat.oftc.net/?channels=#fsci" target="_blank"><img
						src='{{"img/irc.png" | absURL}}'></a>{{i18n "irc"}}</li>
			<li><a href="https://lists.fsci.in/postorius/lists/fsci-discuss.lists.fsci.in/" target="_blank"><img
						src='{{"img/mail.png"|absURL}}'></a>{{i18n "mail"}}</li>
		</ul>
		<div class="col-md-12 text-center">
			<p><a onclick="document.querySelectorAll('.fa-times')[0].click()" href='{{ "code-of-conduct" | relLangURL }}'>{{
					i18n "coc" }}</a> | <a href='{{ "terms-of-services" | relLangURL }}'>{{ i18n "tos" }}</a></p>
			<p>{{i18n "copyheart" | safeHTML}}</p>
		</div>
		<div>
</footer>
